body {
  background: #f2f2f2;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-box {
  background: white;
  padding: 20px;
  width: 320px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px gray;
}

.opt {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  background: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.opt:hover {
  background: #2980b9;
}

#nextBtn {
  margin-top: 10px;
  padding: 8px 15px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  display: none;
}
